{% extends 'UserBundle::layout.html.twig' %}

{% block body %}
    <body class="main">
        <div class="login-galaxy">
            <a id="login-button" href="{{ path('login_check') }}">{{ 'label.login.galaxy'|trans }}</a>
        </div>
    </body>
{% endblock %}