<center><h4>4. Upload your pictures</h4></center>
<div id="drop">
    Drop Here<br>

    <a>Browse</a>
    <input type="file" name="upl" multiple="">
</div>

<ul>
    <!-- The file uploads will be shown here -->
</ul>
<center>
    <div id="download_link" style="color:white;display:none;">
        <div class="div_loading" style="display:none;"><img src="assets/img/ajax-loader-bar.gif"></div>
            <span id="span_info">
                <h4>5. Wait until all pictures are uploaded and <br>
                    <a href="#" onclick="zipAll();">Zip</a></h4>
            </span>

        <br>

        <div id="div_zip"></div>
    </div>
</center>